* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #fff;
}


#signupForm, #loginForm {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.start-btn button {
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.log-out-btn{
    display: flex;
    justify-content: end;
    padding: 10px 15px;
    display: none;
}

.info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease;
    width: 540px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.up-form {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease;
    width: 540px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.quiz-popUp{
    position: fixed;
    z-index: 999;
    right: 0; /* Başlangıçta sağda olacak */
    top: 10%;
    width: 300px;
    background-color: #fefefe;
    border: 1px solid #888;
    transition: right 0.5s; /* Geçiş efekti */
}

.info-box.activeInfo,
.quiz-box.activeQuiz,
.result-box.activeResult
{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}



.info-box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 500;
}

.info-box .info-list {
    padding: 15px 35px;
}

.info-box .info-list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info-box .info-list .info span {
    font-weight: 600;
    color: #007bff;
}

.info-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.info-box .buttons button,
.replay-btn,
.quit-btn,
.add-btn,
.edit-btn,
.add-que,
.cancel
{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.add-que ,
.cancel
{
    float: right;
    margin-bottom: 25px;
}

.add-btn,
.cancel
{
    border-color: #007bff;
    background-color: #fff;
    color: #007bff;
}


.edit-btn,
.add-que {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.buttons button.restart {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.buttons button.restart:hover {
    border-color: #007bff;
    background-color: #007bff;

}

.buttons button.quit {
    border-color: #007bff;
    background-color: #fff;
    color: #007bff;
}

.buttons button.quit:hover {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.replay-btn {
    border-color: #007bff;
    background-color: #fff;
    color: #007bff;
}

.quit-btn {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}

.quiz-box {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(0.9);
    width: 550px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.add-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(0.9);
    width: 550px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}


.quiz-box header,
.add-box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.quiz-box header .title .add-box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-box header .timer .time-text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .timer-sec {
    font-size: 18px;
    font-weight: 500;
    background-color: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz-box header .timer-line {
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 3px;
    background: #007bff;
}

.quiz-box section,
.add-box section {
    padding: 25px 30px 20px 30px;
    background-color: #fff;
}

.quiz-box section .que-text .add-box section .que-text {
    font-size: 25px;
    font-weight: 600;
}

.quiz-box section .option-list .add-box section .option-list {
    padding: 20px;
    display: block;
}

.option input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

section .option-list .option {
    background-color: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.add-box section .option-list .option {
    background-color: aliceblue;
    height: 40px;
    border: 1px solid #84c5fe;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

section .option-list .option:hover {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.option-list .option:last-child {
    margin-bottom: 0px;
}

.true-icn,
.false-icn
{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.true-icn{
    color: #23903c;
    border-color: #23903c;
    background-color: #d4edda;
}

.false-icn {
    color: #a4283a;
    border-color: #a4283a;
    background-color: #f8d7da;
}

.result{
    display: flex;
    justify-content: flex-start;
    width: 320px;
    margin-bottom: 5px;
}
.align-right {
  position:absolute;
  right: 0;
  margin-right: 65px;
}
.option-list .option.disabled {
    pointer-events: none;
}

.quiz-box footer,
.add-box footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .total-que span,
.add-box footer .total-que span {
    display: flex;
    user-select: none;

}

footer .total-que span p {
    font-weight: 500;
    padding: 0 5px;
}

.total-que span p:first-child {
    padding-left: 0px;
}

footer .next-btn {
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next-btn:hover {
    background-color: #0263ca;
}

.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease;
    background-color: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result-box .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result-box .complete-text {
    font-size: 20px;
    font-weight: 500;
}

.result-box .score-text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score-text span p {
    font-weight: 600;
    padding: 0 4px;
}

.result-box .buttons {
    display: flex;
    margin: 20px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    right: 0; 
    top: 10%;
    width: 300px;
    background-color: #fefefe;
    border: 1px solid #888;
    transition: right 0.5s; 
  }
  
  .modal-content {
    padding: 20px;
    text-align: center;
    color: #333;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 10px;
}
.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    justify-content: space-between;
}
.navbar .hamburger-btn {
    display: none;
    color: #000;
    cursor: pointer;
    font-size: 18px;
}
.navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.navbar .logo img {
    width: 40px;
    border-radius: 50%;
}
.navbar .logo h2 {
    color: #000;
    font-weight: 600;
    font-size: 1.7rem;
}
.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}
.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
}
.navbar .links a {
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
}
.navbar .links a:hover {
    color: #19e8ff;
}
.navbar .login-btn {
    border: none;
    outline: none;
    background: #fff;
    color: #275360;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
}
.navbar .login-btn:hover {
    background: #ddd;
}
.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -70%);
}
.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}
.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}
.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}
.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}
.form-popup .form-box {
    display: flex;
}
.form-box .form-details {
    width: 100%;
    color: #fff;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login .form-details {
    padding: 0 40px;
    background: url("images/login-img.jpg");
    background-position: center;
    background-size: cover;
}
.signup .form-details {
    padding: 0 20px;
    background: url("images/signup-img.jpg");
    background-position: center;
    background-size: cover;
}
.form-box .form-content {
    width: 100%;
    padding: 35px;
}
.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}
form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #717171;
    border-radius: 3px;
}
.input-field input:focus {
    border: 1px solid #00bcd4;
}
.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}
.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}
.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #007bff;
    font-size: 0.75rem;
}
.form-box a {
    color: #007bff;
    text-decoration: none;
}
.form-box a:hover {
    text-decoration: underline;
}
form :where(.forgot-pass-link, .policy-text) {
    display: inline-flex;
    margin-top: 13px;
    font-size: 0.95rem;
}
form button {
    width: 100%;
    color: #000;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #007bff;
    transition: 0.2s ease;
}
form button:hover {
    background: #007bff;
}
.form-content .bottom-link {
    text-align: center;
}
.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}
.form-popup.show-signup .signup {
    display: flex;
}
.signup .policy-text {
    display: flex;
    margin-top: 14px;
    align-items: center;
}
.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}
@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }
    .navbar {
        padding: 15px 0;
    }
    .navbar .logo img {
        display: none;
    }
    .navbar .logo h2 {
        font-size: 1.4rem;
    }
    .navbar .links {
        position: fixed;
        top: 0;
        z-index: 10;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s ease;
    }
    .navbar .links.show-menu {
        left: 0;
    }
    .navbar .links a {
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
        color: #000;
    }
    .navbar .links a:hover {
        color: #00BCD4;
    }
    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}
@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }
    .form-box .form-details {
        display: none;
    }
    .form-box .form-content {
        padding: 30px 20px;
    }
}